<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<head>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="">
                            <!-- <img src="img/logo.png" alt=""> -->
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li><a href="">Homepage</a></li>
                                <li><a href="">Store</a></li>
                                <li><a href="">Categories <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a href="#">RPG</a></li>
                                    </ul>
                                </li>
                                <li><a href="">Tournament</a></li>
                                <li><a href="#">Our Blog</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="#" class="search-switch"><span class="icon_search"></span></a>
                        <a href=""><span class="icon_profile"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
</head>
<body>
    <div style="float: right; width : 50%">
        <% for (let games of AllGames){ %>
            <li>
                <a class="listed" 
                    <%= game.GAMENAME %>
                </a>
            </li>
            <% } %>
    </div>
</body>
</html>