<html>

<head>
    <style>



        footer {
            color : #888888;
            border-top: 1px solid #eeeeee;
            margin-top: 16px;
            padding: 8px 0;
        }
        
        header {
            border-bottom: 1px solid #eeeeee;
            margin-top: 16px;
            margin-bottom: 48px;
        }
        
        h1 {
            font-size: 64px;
            margin-bottom: 16px;
        }
        
        
        header a {
            color: #888888;
            margin-right: 16px;
            text-decoration: none;  /* removes the underline in links */
        }
        
        input.search-bar {
            border: 1px solid #cccccc;
            padding: 6px;
            width: 300px
        }
        
        button {
            cursor : pointer;
        }
        
        a.listed {
            color: #946aec;
            font-weight: bold;
            padding: 6px;
            text-decoration: none;
            list-style: none;
        }
        a.home {
            padding: 6px;
            text-decoration: none;
            list-style: none;
        }
        a.favourited {
            color: #e60ad0;
            padding: 6px;
            text-decoration: none;
        }
        a.listed-character {
            color: rgb(33, 116, 189);
            font-weight: bold;
            padding: 6px;
            text-decoration: none;
        }
        
        form.search-bar {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
        form.search-bar button:hover {
            background:#555555;
        }
        /* Clear floats */
        form.search-bar::after {
            content: "";
            clear: both;
            display: table;
        }
        
        header ul{
          margin: 0;
          padding: 0;
          list-style: none;
        
        }
        
        header ul li{
          float: left;
          width: 90px;
          height: 30px;
          background-color:#ffffff;
          opacity: 0.99;
          line-height: 30px;
          text-align: center;
        }
        
        header ul li a{
          text-decoration: none;
          color: #888888;
          display: block;
          color: rgb(48, 18, 88);
        }
        
        header ul li a:hover{
          background-color: #666666 ;
          color:rgb(169, 228, 255);
        }
        header ul li ul li{
          display: none;
        }
        header ul li:hover ul li{
          display: block;
          background-color:rgb(255, 255, 255);
        }
        
        
        .shundor{
            margin-bottom: 20px;
        }
        #nav {
            margin-bottom: 7ch;
        }
        .card {
            display: flex;
            justify-content: space-between;
            text-align: center;
        }
        
        .price {
          color: grey;
          font-size: 22px;
        }
        
        .card button {
          border: none;
          outline: 0;
          padding: 12px;
          color: white;
          background-color: #000;
          text-align: center;
          cursor: pointer;
          width: 100%;
          font-size: 18px;
        }
        
        .card button:hover {
          opacity: 0.7;
        }
        
        .nav {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        </style>
</head>

<body>
    <!-- !this is important. posts to /login route -->
    <br>
    <div style="align-self:center; margin-right:300px;">
        <form action="/home" method="post" style="text-align: center;">
            <h2>Login</h2>
            <div class="input-field">
                <input type="text" name="username" id="username" placeholder="Enter Username">
            </div>
            <div class="input-field">
                <input type="password" name="password" id="password" placeholder="Enter Password">
            </div>
            <button type="submit" value="LogIn">LOGIN </button>
        </form>

        <div>
            <a style="align-self: center;" href="/signup">Dont have an account?</a>
            <form action="/adminLogin" method="post" style="text-align: center;">
                
                <button type="submit" value="LogIn">Admin Login</button>
            </form>
        </div>
    </div>
    
    
</body>

</html>