<html>

<head>
    <link rel="stylesheet" href="/login.css">
</head>

<body>
    <!-- !this is important. posts to /login route -->
    <br>
    <div style="align-self:center; margin-right:300px;">
        <form action="/home" method="post" style="text-align: center;">
            <h2>Login</h2>
            <div class="input-field">
                <input type="text" name="username" id="username" placeholder="Enter Username">
            </div>
            <div class="input-field">
                <input type="password" name="password" id="password" placeholder="Enter Password">
            </div>
            <button type="submit" value="LogIn">LOGIN </button>
        </form>
        <a href="/signup" >Signup</a>
    </div>
    
    
</body>

</html>