<html>

<head>
    
</head>

<body>
    
    <div style="align-self:center; margin-right:300px;">
        <form action="/signup" method="post" style="text-align: center;">
            <h2 class="h2-title-auth">Register</h2>
            <div class="input-field">
                <input type="text" name="playername" id="playername" placeholder="Enter Name">
            </div>
            <div class="input-field">
                <input type="text" name="username" id="username" placeholder="Enter Username">
            </div>
            <div class="input-field">
                <input type="email" name="email" id="email" placeholder="Enter email">
            </div>
            <div class="input-field">
                <input type="password" name="password" id="password" placeholder="Enter Password">
            </div>
            
            <button type="submit" value="Register"> </button>
        </form>
    </div>
</body>

</html>